/*
* RegistrationHacks Style File
* http://bit.ly/1ywfhq7
*/

/* Open Sans Google Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700);


/* Montserrat Google Font */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*
 * Primary Blue: #44D5FF;
 * Dark Blue: #0F2C34;
 * Primary Pink: #FF7FA8;
 */

* {
  font-family: 'Open Sans';
  font-weight: 600;
}

body {
  background-color: #0F2C34;
}

section {
  overflow-x:hidden;
}

/*
 * Trust Badge
 */

#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  right: 50px;
  top: 0;
  width: 10%;
  z-index: 10000;
}

/*
 * Hero Section
 */

.hero {
  background: url('../images/hero.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}

.hero img {
  background: rgba(255, 255, 255, .8);
  max-width: 400px;
  border-radius: 15px;
}

.hero hr {
  border-top: 15px solid #0F2C34;
  margin: 0;
  position: relative;
  top: -14px;
}

.hero .wrapper {
  padding-top: 15vh;
}

.hero .wrapper h1 {
  background: #fff;
  background: rgba(255, 255, 255, .3);
  display: inline-block;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: -2px;
  padding: 10px 30px;
}

.hero .wrapper h2 {
  font-size: 28px;
  font-weight: 200;
}

.hero .wrapper h3 {
  font-size: 20px;
  font-weight: 200;
  padding-bottom: 15px;
}

.hero .buttons {
  margin: 40px 0;
}

.hero .buttons a {
  background: #fff;
  border: 10px solid #0F2C34;
  border-radius: 40px;
  color: #0F2C34;
  display: inline;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 70px;
  text-decoration: none;
  text-transform: uppercase;
}

.hero .buttons a:hover,
.hero .buttons a:focus {
  background-color: #0F2C34;
  color: #fff;
  transition: all 0.2s ease;
}

.hero .buttons a:not(:last-child) {
  margin-right: 10px;
}

#locat {
  font-weight: 400;
  color: black;
}

#locat span{
  background: rgba(255, 255, 255, .8);
  /*border: 5 px solid #0F2C34;*/
  border-radius: 40px;
  padding: 10px 70px;
  display: inline-block;
}

/*
 * About Section
 */

.about {
  border-width: 15px 0;
  background-color: #fff;
  padding: 130px 0;
  position: relative;
}

.about p {
  color: #0F2C34;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.6em;
  letter-spacing: -.3px;
}

.about p span {
  font-weight: 700;
  text-transform: uppercase;
}

/*
 * Info Section
 */

.info {
  background-color: #fff;
  margin-top: 15px;
  padding: 100px 0;
  position: relative;
}

.info .item {
  padding: 20px;
}

.info .item h1 {
  font-family: 'Montserrat';
  font-size: 45px;
  font-weight: 700;
  margin: 20px 0;
}

.info .item img {
  max-width: 220px;
}

.info .item p {
  font-size: 20px;
}

/*
 * FAQ Section
 */

.faq {
  background-color: #fff;
  margin-top: 15px;
  padding: 100px 0;
  position: relative;
}

.faq h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  margin: 30px 0;
}

.faq .question h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
}

.faq .question hr {
  border-top: 8px solid #0F2C34;
  margin: 20px 0;
  width: 80px;
}

.faq .question p {
  font-size: 18px;
  line-height: 1.5em;
}

.faq img {
  margin-bottom: -2px;
  margin-top: 40px;
  width: 300px;
}

/*
* timeline seciton
*/

.timeline {
  background-color: #fff;
  margin-top: 15px;
  padding: 50px 0;
  position: relative;
}

.timeline h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  margin: 30px 0;
}

.timeline h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  margin-left: 13px;
}

.timeline p{
  font-size: 18px;
  line-height: 1.5em;
}

/*
 * sponsors
 */

 .row-centered {
     text-align:center;
 }
 .col-centered {
     display:inline-block;
     float:none;
     /* reset the text-align */
     text-align:left;
     /* inline-block space fix */
     margin-right:-4px;
 }

 /*
* Info Section
*/

.sponsor {
 background-color: #fff;
 margin-top: 15px;
 padding: 20px 0;
 position: relative;

}

.sponsor .item{
 padding: 20px;
}

.sponsor h1 {
 font-family: 'Montserrat';
 font-weight: 700;
 margin: 120px 0 40px 0;
}

.sponsor .item img {
 max-width: 100%;
 width: 100%;
 float: none;
 margin: 0 auto;
}

.sponsor .item p {
 margin-top: 10px;
 font-size: 20px;
}

.sponsorItem{

   margin: 0 auto;
}


/*
 * Footer Section
 */

.footer {
  background-color: #0F2C34;
  color: #fff;
  padding: 30px 0;
}

.footer img {
  max-width: 250px;
  margin-bottom: 15px;
}

.footer h3 {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.footer h3 a {
  color: #fff;
}

@media(max-width: 768px) {
  .hero .buttons a {
    border-width: 8px;
    display: block;
    font-size: 20px;
    margin: 5px;
  }

  .hero img {
    width: 250px;
  }

  .hero hr {
    border-top-width: 8px;
    top: -8px;
  }
}
